bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Caffein Pro
Caffeine Pro Setup/Caffeine Pro Setup-BuildUwpAppX-SetupFiles
Caffeine Pro Setup/Caffeine Pro Setup-SetupFiles
Caffeine Pro Setup/Caffeine Pro Setup-cache
Caffeine Pro Setup/Generated Assets