<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Caffeine_Pro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="Caffeine_Pro.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Caffeine_Pro.Properties.Settings>
   <setting name="AppSettings" serializeAs="String">
    <value />
   </setting>
  </Caffeine_Pro.Properties.Settings>
  <Caffeine_Pro.Settings>
   <setting name="StartInactive" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AllowScreenSaver" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DeactivateWhenLocked" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DeactivateOnBattery" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DeactivateWhenCpuBelowPercentage" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CpuUsage" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Culture" serializeAs="String">
    <value>en</value>
   </setting>
   <setting name="NoIcon" serializeAs="String">
    <value>False</value>
   </setting>
  </Caffeine_Pro.Settings>
	</userSettings>
</configuration>